* {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
    word-wrap: break-word;
    font-family: Consolas, monospace;
}

body {
    margin:0;
    background-image: linear-gradient(#e0085b,#f835b7);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    background-color: rgb(131, 199, 226);
    height: auto;
    width: 400px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 10px rgba(69, 156, 238, 0.6);
}

input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"] {
    font-family: sans-serif;
    color: black;
    background-color: #2282b9;
    box-shadow: 0px 0px 2px 2px white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hover-container:hover .nein {
    visibility: hidden;
}

.hover-container {
    display: inline-block;
}

.nein {
    opacity: 1;
    pointer-events: none;
}